ion-avatar {
  width: 10rem;
  height: 10rem;
}

ion-text {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 600;
  text-decoration: underline;
}

ion-button {
  margin-top: 80px;
}

.ion-flex-center {
    display: flex;
    flex-direction: column;
    margin: 20px 0 40px;
}

input[type="file"] {
  display: none;
}

img {
  height: 160px;
  border-radius: 50%;
  width: 160px;
}
