<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" size="large">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <form [formGroup]="loginForm">
      <ion-list lines="none">
        <ion-item>
          <ion-input
            class="custom"
            color="medium"
            errorText="Este campo es obligatorio."
            formControlName="email"
            label="Correo electrónico"
            labelPlacement="floating"
            type="email"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="custom"
            color="medium"
            errorText="Este campo es obligatorio."
            formControlName="password"
            label="Contraseña"
            labelPlacement="floating"
            type="password"
          >
            <ion-input-password-toggle
              *ngIf="password?.value"
              color="dark"
              slot="end"
            ></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-button
        class="ion-text-capitalize"
        color="dark"
        [disabled]="!loginForm.valid"
        expand="full"
        fill="solid"
        shape="round"
        size="large"
        (click)="onSubmit()"
      >
        Ingresar
      </ion-button>

      
      <ion-button
        class="ion-text-capitalize"
        color="medium"
        expand="full"
        fill="outline"
        shape="round"
        size="large"
        routerLink="/auth/register"
      >
        Registrarse
      </ion-button>
    </form>

    <div class="ion-text-center">
      <ion-text> O ingresa con una cuenta social </ion-text>
    </div>

    <div class="ion-button-group">
      <ion-button
        class="ion-text-capitalize"
        shape="round"
        fill="outline"
        size="large"
        color="dark"
        (click)="signInWithCredential()"
      >
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>

      <ion-button
        class="ion-text-capitalize"
        shape="round"
        fill="outline"
        size="large"
        color="dark"
        (click)="signInWithCredential()"
      >
        <ion-icon slot="start" name="logo-twitter"></ion-icon>
        Twitter
      </ion-button>
    </div>
  </div>
</ion-content>
