<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="confirm()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="modalForm">
    <ion-list>
      <ion-item>
        <ion-input
          class="custom"
          color="medium"
          formControlName="name"
          label="Nombre"
          labelPlacement="stacked"
          type="text"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
